img {
    display: block;
    margin: 0 auto;
    width: 75%;
    border: 5px solid #acb30a;
    border-radius: 20px;
}

nav li {
    display: inline;
    padding: 50px;
    background: #f0efeb;
    font-family: monospace;
}

nav {
    padding: 50px;
    text-align: center;
    position: relative;
}
h1 {
    font-family: monospace;
    font-size: 100px;
    position: absolute;
    padding: 583px 219px;
    color: #2963af;
}
